body{
    box-shadow: 10px 10px 40px red;
    border-radius: 5px;
    height: 100%;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;


}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

